@using BuisnessLogic.models
@model Firm
@{
    ViewData["Title"] = "Фирма";
}

<div class="text-center">
    <h1 class="display-4">Фирма</h1>
</div>
@if (Model == null)
{
    <div class="text-center" id="error-div">
        <h3 style="color: red">Ошибка отображения информации</h3>
    </div>
}
else
{
    <div class="column-md-18">
        <div class="column-md-16" style="border-style: solid; border-width: 2px; align-content: center; width: 50%; margin: 0 auto">
            <div class="text-center" style="font-size: 18px">
                Фирма номер @Model.Id
            </div>
            <div class="text-center">
                Название: @Model.Name
            </div>
            <div class="text-center">
                Email: @Model.Email
            </div>
            <div class="text-center">
                Телефон: @Model.Phone
            </div>
            <div class="text-center">
                Физ. адрес: @Model.PhysAddr
            </div>
            <div class="text-center">
                Юр. адрес: @Model.LawAddr
            </div>
        </div>
        <br>
        <br>
        <form method="get" asp-controller="Admin" asp-action="FirmEdit" asp-route-id=@Model.Id>
            <button type="submit" style="width: 20%; margin-left: 40%" class="btn-primary">
                Изменить фирму
            </button>
        </form>
        <br>
        <form method="post" asp-controller="Admin" asp-action="FirmDelete" asp-route-id=@Model.Id>
            <button type="submit" style="width: 20%; margin-left: 40%" class="btn-primary">
                Удалить фирму
            </button>
        </form>
        <br>
    </div>
}