@using BuisnessLogic.models
@{
    ViewData["Title"] = "Фирмы";
}

<div class="text-center">
    <h1 class="display-4">Все фирмы</h1>
</div>
@if (ViewBag.Firms == null)
{
    <div class="text-center" id="error-div">
        <h3 style="color: red">Ошибка отображения информации</h3>
    </div>
}
else
{
    <div class="column-md-18">
        <br>
        @if (ViewBag.Firms.Count == 0)
        {
            <div class="text-center" id="error-div">
                <h4>Фирм нет</h4>
            </div>
        }
        <br>
        <form method="get" asp-controller="Admin" asp-action="FirmCreate">
            <button type="submit" style="width: 20%; margin-left: 40%" class="btn-primary">
                Добавить фирму
            </button>
        </form>
        <br>
        @foreach (var elem in (ViewBag.Firms as List<Firm>))
        {
            <div class="column-md-16" style="border-style: solid; border-width: 2px; align-content: center; width: 50%; margin: 0 auto">
                <div class="text-center" style="font-size: 18px">
                    <a asp-controller="Admin" asp-action="Firm" asp-route-id=@elem.Id>Фирма номер @elem.Id</a>
                </div>
                <div class="text-center">
                    Название: @elem.Name
                </div>
                <div class="text-center">
                    Email: @elem.Email
                </div>
                <div class="text-center">
                    Телефон: @elem.Phone
                </div>
                <div class="text-center">
                    Физ. адрес: @elem.PhysAddr
                </div>
                <div class="text-center">
                    Юр. адрес: @elem.LawAddr
                </div>
            </div>
            <br>
            <br>
        }
    </div>
}